
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <form action="/Login/Index" method="post">
            <div class="row">
                <input type="text" id="txtName" /> <br />
                <input type="password" id="txtPassword" />
                <input type="submit" id="btnSubmit" value="Login" />
            </div>
        </form>
     //   @Html.RenderAction()
    </div>
</body>
</html>
